<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="lightSabre" class="com.epam.training.spring.domain.LightSabre">
        <constructor-arg value="Slicer"></constructor-arg>
        <constructor-arg value="10"></constructor-arg>
  </bean>

  <bean class="com.epam.training.spring.domain.Jedi">
        <constructor-arg ref="lightSabre"></constructor-arg>
  </bean>


</beans>
